---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>About</h1>
		<h2>Blah blah blah!</h2>
		<p>More changes because why not...</p>
		<p>I like turtles... actually, I like foxes.</p>		
		<p>I went to Trestle yesterday and had a ton of fun. And now my leg hurts.</p>
		<p>I ate a burrito about an hour ago.</p>
        <p>You better go on a walk in 39 minutes.</p>
	</body>
</html>
