---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css';

const pageTitle = "Home Page";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Navigation />
		
		<h1>{pageTitle}</h1>
		<h2>Giggity, isn't this fun.</h2>
		<p>More changes because why not...</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tincidunt tempus feugiat. Integer congue diam non metus mattis fermentum non in tortor. Nulla tempor mauris ut venenatis imperdiet. Aliquam erat volutpat. Sed eget leo vel nisl lacinia elementum a eu sapien. Nullam ut lacus sit amet enim bibendum bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam dictum dapibus nulla, quis tristique lectus porttitor sed. Duis in diam pharetra, posuere dui sit amet, tincidunt magna. Morbi laoreet ligula sapien, vel accumsan tortor scelerisque ac. Donec tempor varius eros.</p>		
		<p>Duis faucibus augue augue, eget rhoncus massa consectetur at. Aenean eu faucibus magna. Pellentesque interdum id nulla eget iaculis. Sed lorem augue, ornare quis purus auctor, luctus scelerisque augue. Ut posuere augue a elementum viverra. Maecenas a ligula neque. Maecenas euismod mauris vel diam imperdiet ultricies. Fusce dapibus mattis nulla, sed pellentesque mi vestibulum vel. Cras imperdiet dapibus felis eget scelerisque. Ut cursus congue commodo. Sed ac scelerisque metus. Quisque magna felis, gravida nec eleifend sit amet, rhoncus id nunc. Vestibulum tincidunt mi tellus, pulvinar aliquam arcu pretium in.</p>
		<p>Aenean in ante a urna ultricies vehicula. Aliquam justo sapien, sagittis ac facilisis a, fringilla eget velit. Fusce convallis, elit non mollis fermentum, diam ligula luctus lorem, quis pharetra mauris leo eu dolor. Duis eget elit condimentum, convallis nulla ut, lobortis mauris. Aliquam erat volutpat. Aliquam erat volutpat. Aliquam erat volutpat.</p>
		<p>Nulla vulputate imperdiet tristique. Pellentesque id dapibus urna. Sed sit amet risus quis metus fermentum ultrices. Mauris consectetur est ut massa malesuada, eget rutrum enim rutrum. Nam metus purus, sodales quis nunc ac, fermentum pretium diam. Donec malesuada eros at pharetra vulputate. Nam fermentum rhoncus mauris vitae facilisis. Sed pretium sed odio in fermentum. Etiam et velit et arcu hendrerit ultrices. Nam et dolor at urna tincidunt maximus at posuere ipsum.</p>
		<p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras fringilla convallis purus, eu viverra sem aliquet non. Proin vel enim sed orci porta malesuada consequat et tortor. Nullam congue quam ipsum, at auctor nulla vehicula quis. Nullam sollicitudin nisi et sapien condimentum gravida. Cras et nibh quis justo egestas placerat. Praesent congue auctor faucibus.</p>
	</body>
</html>
